.applyy{
    /* width: 56.5625rem;
height: 3.0625rem;
flex-shrink: 0; */

/* border: 4px solid #F00; */
color: #F58420;
font-family: Inter;
font-size: 2.33125rem;
font-style: normal;
font-weight: 700;
line-height: 3rem; /* 128.686% */

margin: 0px;
}